<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%= link_to "Home", home_index_url,  class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", home_about_url,  class:"nav-link" %>
      </li>
     
      <% if user_signed_in? %>
  
      <li class="nav-item"> <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class:"nav-link" %></li>
<% else %>
<li class="nav-item"> <%= link_to 'Войти', new_user_session_path, class:"nav-link" %></li> <li class="nav-item>"> <%= link_to 'Зарегистрироваться', new_user_registration_path, class:"nav-link" %></li>
<% end %>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>